.post-stamp, .schedule-copy{
  color: white !important;
}

li[class$="roosterteeth-com"]{
  background-color: grey;
}

li.roosterteeth-com{
  background-color: #9e1d22;
}
li.achievementhunter-roosterteeth-com{
  background-color:  #5f9f41;
}
li.funhaus-roosterteeth-com{
  background-color:  #fe8204;
}
li.screwattack-roosterteeth-com{
  background-color:  #00aeef;
}
li.gameattack-roosterteeth-com{
  background-color:  #8b54dc;
}
li.theknow-roosterteeth-com{
  background-color:  #00639d;
}
li.cowchop-roosterteeth-com{
  background-color:  #d5b037;
}

li.sugarpine7-roosterteeth-com{
  background-color:  #03A86C;
}

li.jtmusic-roosterteeth-com{
  background-color:  #FC1334;
}

.filter > h3{
  margin: 0 10px;
}

.filter > button:hover, .filter > button:focus{
  color: #9e1d22 !important;
}

.filter{
  border-bottom: 3px solid #9e1d22;
  padding-bottom: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}